<div class="dashboard-content__info">
  <h2 class="dashboard__info-title">Producer</h2>

  <div class="dashboard__info-form" v-if="producers.length > 0">
    <div class="dashboard__info__table">
      <div class="dashboard__info__table-div">Producer name</div>
      <div class="dashboard__info__table-div">Email</div>
      <div class="dashboard__info__table-div">Action</div>
    </div>
    <div class="dashboard__info-form__inner">
      <ul class="dashboard__info__table-list">
        <li v-for="producer in producers">
          <div class="dashboard__info__table-list-name">
            {{ producer.firstname }} {{ producer.lastname }} <span v-if="isMe(producer)">(you)</span>
          </div>
          <div class="dashboard__info__table-list-email">{{ producer.email }}</div>
          <div class="dashboard__info__table-list-action">
            <button class="btn btn-edit" @click="$modal.show('add-form', {producer})">Edit</button>
            <button class="btn btn-del" @click="$modal.show('delete-dialog', {producer})">Delete</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="dashboard__info-form-wrap dashboard__info-form-btn-wrap dashboard__info-form-btn-wrap--table">
      <button class="btn btn-secondary" @click="$modal.show('add-form')">
        <span class="plus">+</span>Add producer</button>
      <button class="btn btn-primary arrow">Next</button>
    </div>
  </div>

  <div class="dashboard__info-form" v-else>
    <div class="dashboard__info-form__inner dashboard__info-form__inner--empty">
      <img class="img-responsive dashboard-img-team__empty" src="~img/dashboard/dashboard-team.png" width="46">
      <p class="dashboard__empty-descr">No producer is added yet...</p>
      <div class="justify-center">
        <button class="btn btn-secondary" type="button" @click="$modal.show('add-form')">
          <span class="plus">+ </span>Add producer</button>
      </div>
    </div>
  </div>

  <modal name="add-form" height="auto" @before-open="beforeOpen" @closed="closed" scrollable>
    <add-form
      :title="producer.id ? 'Editing producer' : 'Producer'"
      @close="$modal.hide('add-form')"
    >

      <div class="tabs-wrap">
        <span>Producer is:</span>
        <div class="tabs-list">
          <a
            v-for="person in ['someone else']"
            :class="{active: newProducerIs === person}"
            @click="newProducerIs = person"
          >{{ person }}</a>
        </div>
      </div>

      <add-producer-form
        :initialValues="producer"
        @submit="onSubmit"
        @cancel="$modal.hide('add-form')"
      ></add-producer-form>
    </add-form>
  </modal>

  <modal name="delete-dialog" width="500" height="auto" @before-open="beforeOpen" @closed="closed">
    <delete-dialog
      title="Deleting producer"
      @confirm="remove(producer)"
      @cancel="$modal.hide('delete-dialog')"
    >
      Do you really want to delete
      <b>{{ producer.firstname }} {{ producer.lastname }}</b> from the list?
    </delete-dialog>
  </modal>
</div>
