.add-comment {
  width: 700px;
  padding-top: 30px;
  padding-bottom: 48px;
}

.add-comment__title {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.add-comment__tabs {
  text-align: center;
  border-bottom: 1px solid #dce7d8;
}

.add-comment-form {
  padding-top: 25px;
  max-width: 520px;
  margin: 0 auto;
}
