.comment-success {
  width: 400px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.comment-success__title {
  margin: 15px 0;
  font-size: 24px;
}

.comment-success__text {
  margin-bottom: 25px;
}
