.hero {
  @include flex(null, center);
}

.hero__inner {
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.hero__lead {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 28px;
}

.hero__dash {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @include size(36px, 3px);
  background: #f9f9f9;
}

.hero__time-left {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: ls(100);
}

.hero__timer {
  position: relative;
  display: inline-block;
  margin-bottom: 75px;
}

.hero__info {
  @include position(absolute, 0 0 null null);
}

.hero__scroll-down-btn {
  display: inline-block;
  @include size(54px, 70px);
  font-size: 0;
  background-color: #fff !important;
  @include retina('arrow-down.png', 18px 26px, no-repeat center);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.24);
}
