.q-answer {
  position: relative;
  padding-left: 35px;
  padding-bottom: 27px;
  line-height: 24px;
  border-bottom: 1px solid #ecf2ea;
  letter-spacing: ls(25);

  &:before {
    content: 'A';
    @include position(absolute, 0 null null 0);
    font-size: 20px;
    font-weight: 600;
    color: $green;
  }
}

.q-answer__title {
  margin-bottom: 10px;
}
