.register-success {
  padding: 40px;
}

.register-success__img {
  margin-bottom: 10px;
}

.register-success__title {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 500;
}

.register-success__text {
  margin-bottom: 25px;
  font-weight: 500;
}

.register-success__link {
  font-size: 13px;
}
