.auth-page_reset-password {
    padding-bottom: 0;
    padding-top: 106px;
    .auth-page__inner {
        padding-bottom: 0;
        overflow: hidden;
        width: 446px;
    }
}

.reset-password__content {
    padding: 37px 48px 40px;
}

.reset-password__title {
    margin-bottom: 10px;
}

.reset-password__descr {
    margin-bottom: 16px;
    line-height: 1.4;
}

.back-to-login {


    font-size: 13px;

    color: rgb(86, 171, 47);
    text-transform: uppercase;
    opacity: 0.8;
    background-color: rgb(227, 243, 220);
    border-radius: 0;
    height: 65px;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    &:hover {
        opacity: 1;
    }
    &:before {
        content: '';
        display: block;
        width: 13px;
        height: 8px;
        background: image('arrow-left@2x.png') no-repeat center / cover;
        margin-right: 8px;
    }
}

.reset-password {
    display: flex;
    flex-direction: column;
}

.reset__submit {
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1;
}
