<div class="dashboard-content__info">
  <h2 class="dashboard__info-title">Writer</h2>

  <div class="dashboard__info-form" v-if="writers.length > 0">
    <div class="dashboard__info__table">
      <div class="dashboard__info__table-div">Writer name</div>
      <div class="dashboard__info__table-div">IMDB link</div>
      <div class="dashboard__info__table-div">Action</div>
    </div>
    <div class="dashboard__info-form__inner">
      <ul class="dashboard__info__table-list">
        <li v-for="writer in writers">
          <div class="dashboard__info__table-list-name">{{ writer.firstname }} {{ writer.lastname }}</div>
          <div class="dashboard__info__table-list-link">
            <button class="copy" v-bind:data-clipboard-text="writer.imdb_link">Copy</button>
          </div>
          <div class="dashboard__info__table-list-action">
            <button class="btn btn-edit" type="button" data-show-modal="add-writer-modal">Edit</button>
            <button class="btn btn-del" type="button" data-show-modal="delete-writer-modal">Delete</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="dashboard__info-form-wrap dashboard__info-form-btn-wrap dashboard__info-form-btn-wrap--table">
      <button class="btn btn-secondary" type="button" data-show-modal="add-writer-modal">
        <span class="plus">+ </span>Add Writer</button>
      <button class="btn btn-primary arrow" type="submit"> Next</button>
    </div>
  </div>

  <div class="dashboard__info-form" v-else>
    <div class="dashboard__info-form__inner dashboard__info-form__inner--empty">
      <img class="img-responsive dashboard-img-team__empty" src="~img/dashboard/dashboard-team.png" width="46">
      <p class="dashboard__empty-descr">No writer is added yet...</p>
      <div class="justify-center">
        <button class="btn btn-secondary" type="button" data-show-modal="add-writer-modal">
          <span class="plus">+ </span>Add Writer</button>
      </div>
    </div>
  </div>
</div>
