<div class="dashboard-content flex-align-center">
  <div class="dashboard-is-submit modal-content modal-content--secondary ">
    <img class="img-responsive" src="~img/dashboard/confetti.png" width="50">
    <h1 class="modal-title modal-title--secondary">Congratulations!</h1>
    <p class="modal-descr">Film "{{ title }}"" was succesfully submitted.
      <br> Check its’ status on "My Films" page </p>
    <a class="btn btn-primary btn-primary--submit" href="#">Go to "My Films"</a>
  </div>
</div>
